@import "mixins";
@import "typography";

$btn-color-green: #00c8aa;
$color-a: #303d46;
$color-a-dark: #242d33;
$color-e: #1eaedb;
$color-b: #ffd43b;
$color-negative: #d35e54;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.text {
    &-white {
        color: white;
    }

    &-red {
        color: red;
    }
}

input[type="email"],
input[type="text"] {
    border: 1px solid #969696;
    border-radius: 0.5rem;
    border-bottom-style: solid;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    text-overflow: ellipsis;
    line-height: normal;
    margin: unset;
    box-sizing: border-box;
}

.form {
    margin: 2rem;

    h3 {
        text-align: center;
    }

    .btnv-1 {
        width: 100%;
        text-align: center;
        margin: 1rem auto;
    }

    .link {
        margin: 2rem 0;
        color: #00c8aa;
        text-align: center;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

section {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.container {
    width: 70vw;
    margin: 0 auto;

    @include bp-big {
        width: 130rem;
    }

    @include bp-large {
        width: 155rem;
    }

    @include bp-small {
        width: 80vw;
    }

    @include bp-tablet {
        width: 90vw;
    }
}

.block {
    width: 33%;
    margin: 2rem;
    display: flex;
    flex-direction: column;

    &.center {
        align-items: center;
        text-align: center;
    }

    img {
        max-width: 33vw;
        max-height: 30rem;
    }
}
h1 {
    text-align: left;
    font-size: 5rem;
    margin-bottom: 5rem;
}
h2 {
    margin-left: 2rem;
    display: flex;
    align-items: center;

    &:before {
        content: "\A";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #00c8aa;
        display: inline-block;
        margin-right: 1rem;
    }
}

.btnv-1,
.btnv-2,
.btnv-cta {
    line-height: 1;
    font-family: $font-regular;
    font-size: 2.3rem !important;
    margin-top: 0;
    border: 0;
    padding: 1.1rem 3rem;
    white-space: nowrap;
    border-radius: 0.6rem;
    cursor: pointer;
    text-decoration: none !important;
    display: inline-block;
    color: #fff;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;

    @include bp-mobile {
        font-size: 2.4rem !important;
    }

    span {
        line-height: 1;
    }
}

/** generic btn 1 **/
.btnv-1,
.btnv-cta {
    background-color: $color-c;
    border-color: $color-c;
}

/** generic btn 2 **/
.btnv-2 {
    background-color: $color-a;
    border-color: $color-a;
}

.btnv-cta {
    padding: 2rem 8rem;
    span {
        font-size: 2.5rem;
    }
}

.btnv-1,
.btnv-2,
.btnv-cta,
button {
    &:hover {
        background: transparent !important;
    }
}

.btnv-1:hover,
.btnv-cta:hover {
    color: $color-c !important;

    &.btnv-v2 {
        color: #fff !important;
        border-color: #fff !important;
    }
}

.btnv-2:hover {
    color: $color-a !important;

    &.btnv-v2 {
        color: #fff !important;
        border-color: #fff !important;
    }
}

header {
    margin-bottom: -5rem;
    height: 5rem;
}

main {
    margin-top: 5rem;
}
