@import "../../mixins";

.product {
    margin: 2rem;
    display: flex;
    flex-direction: column;

    &-image {
        max-width: 50%;
        max-height: 30rem;
    }

    &-name {
        margin-bottom: 0;
        margin-top: 2.2rem;
    }

    &-subtitle {
        color: #6a6ac4;
        margin-bottom: 1rem;
    }

    &-price {
        font-size: 2.5rem;
        font-weight: bold;
    }

    &-description {
    }

    &-amount {
        .btn {
            width: 2rem;
            height: 2rem;
            background-color: #e1e1e1;
            text-align: center;
        }

        &-number {
            font-size: 2.1rem;
            font-weight: bold;
        }

        span {
            margin: 0.1rem;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
